.carousel {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}


#imagen {
    width: 100%;
    height: 400px;
    background-size: cover;
}

#titulo,h1, #contenedor{

    display: flex;
  justify-content: center;
  font-family: sans-serif;
}
#titulo2{

    display: flex;
  justify-content: center;
  font-family: sans-serif;
}
h2{
     font-family: sans-serif;
}
p{
font-size: 30px;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}
label,input{
    font-size: 18px;
    font-family: sans-serif;
}
.boton{
    display: flex;
  justify-content: center;
  font-family: sans-serif;
}
#mostrar,#ocultar{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#btnMostrar,#btnOcultar,#btnNombre{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

#contenedor2{
     display: flex;
  justify-content: center;
  font-family: sans-serif;
}

.controles {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
#stop,#play{
    height:50px; 
    width:200px;
}
